<%- include('../includes/head.ejs') %>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
    <% if (products.length) { %>
      <ul class="cart__item-list">
      <% products.forEach(p => { %>
        <li class="cart__item">
          <h1><%= p.title %></h1>
          <h2><%= p.cartItem.quantity %></h2>
          <form action="/cart-delete-item" method="POST">
            <input type="hidden" name="id" value="<%= p.id %>" />
            <button class="btn" type="submit">Delete</button>
          </form>
        </li>
      <% }) %>
      </ul>
      <hr>
      <div class="centered">
        <form action="/create-order" method="POST">
          <button class="btn" type="submit">Order Now!</button>
        </form>
      </div>
    <% } else { %>
      <p>No Products In Cart</p>
    <% } %>
  </main>
  <%- include('../includes/end.ejs') %>